@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');
@import '../../../styles/colors';

* {
  box-sizing: border-box;
  margin: 0;
}

.PopularityCircle {
  &__low {
    position: absolute;
    bottom: -29px;
    left: -15px;
    width: 70px;
    height: 70px;
    border-radius: 30%;
    font-size: 20px;
    color: $white;
    text-align: center;
    background: $popularity-low;
    padding: 8px 0 0 8px;
  }

  &__middle {
    position: absolute;
    bottom: -29px;
    left: -15px;
    width: 70px;
    height: 70px;
    border-radius: 30%;
    font-size: 20px;
    color: $white;
    text-align: center;
    background: $popularity-middle;
    padding: 8px 0 0 8px;
  }

  &__high {
    position: absolute;
    bottom: -29px;
    left: -15px;
    width: 70px;
    height: 70px;
    border-radius: 30%;
    font-size: 20px;
    color: $white;
    text-align: center;
    background: $popularity-high;
    padding: 8px 0 0 8px;
  }
}

.MovieCard {
  position: relative;
  display: block;
  width: 520px;
  height: 310px;
  margin: 80px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
  }
  .InfoSection {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    .MovieHeader {
      position: relative;
      padding: 25px;
      height: 40%;
      cursor: pointer;
      h1 {
        color: black;
        font-weight: 400;
      }
      h4 {
        color: $movie-info-popular;
        font-weight: 400;
      }

      .MoviePoster {
        position: relative;
        float: left;
        margin-right: 20px;
        height: 120px;
        box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
      }
    }
    .MovieDesc {
      padding: 25px;
      height: 50%;
      text-align: left;
      .text {
        margin-top: 20px;
        color: $movie-desc-color;
      }
    }
    .MovieSocial {
      position: absolute;
      bottom: 10px;
      right: 10px;
      ul {
        list-style: none;
        padding: 0;
        li {
          display: inline-block;
          margin: 0 10px;
          cursor: pointer;

          svg {
            height: 25px;
            width: 25px;
          }
        }
      }
    }
  }
  .MovieBlurBack {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    border-radius: 11px;
  }
}

@media screen and (min-width: 768px) {
  .MovieHeader {
    width: 65%;
  }

  .MovieDesc {
    width: 50%;
  }

  .InfoSection {
    background: linear-gradient(
      to right,
      $info-section-back 50%,
      transparent 100%
    );
  }

  .MovieBlurBack {
    width: 80%;
    background-position: -100% 10% !important;
  }
}

@media screen and (max-width: 768px) {
  .MovieCard {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }

  .MovieBlurBack {
    width: 100%;
    background-position: 50% 50% !important;
  }

  .MovieHeader {
    width: 100%;
    margin-top: 85px;
  }

  .MovieDesc {
    width: 100%;
    margin-top: -30px;
    min-height: 200px;
  }

  .InfoSection {
    background: linear-gradient(
      to top,
      $info-section-back 50%,
      transparent 100%
    );
    display: inline-grid;
  }
}
