@import '../../styles/colors';

.MovieFullContainer {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.SadFace {
  display: flex;
  justify-content: center;
  width: 100%;

  img {
    max-width: 100%;
  }
}

.MovieFullContainerHeader {
  color: $header-color;
}
