@import '../../../styles/colors';

* {
  box-sizing: border-box;
  margin: 0;
}

.SingleMovieItemContainer {
  height: 100vh;
}

.PopularityCircle {
  &__low {
    position: absolute;
    bottom: -29px;
    left: -15px;
    width: 70px;
    height: 70px;
    border-radius: 30%;
    font-size: 20px;
    color: $white;
    text-align: center;
    background: $popularity-low;
    padding: 8px 0 0 8px;
  }

  &__middle {
    position: absolute;
    bottom: -29px;
    left: -15px;
    width: 70px;
    height: 70px;
    border-radius: 30%;
    font-size: 20px;
    color: $white;
    text-align: center;
    background: $popularity-middle;
    padding: 8px 0 0 8px;
  }

  &__high {
    position: absolute;
    bottom: -29px;
    left: -15px;
    width: 70px;
    height: 70px;
    border-radius: 30%;
    font-size: 20px;
    color: $white;
    text-align: center;
    background: $popularity-high;
    padding: 8px 0 0 8px;
  }
}

.TrailerButton {
  background: none !important;
  border: none;
  color: $trailer-button-color;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  padding: 0;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
}

.SingleMovieInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.SingleMovieTrailerContainer {
  width: 100%;
}

.SingleMovieTrailer {
  margin-left: auto;
  margin-right: auto;
}

.SingleMovieTrailerBack {
  height: 50px;
  border-radius: 50px;
  border: 10px solid $trailer-back-button-color;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  color: $trailer-back-button-color;
  font-size: 23px;
  font-weight: bold;
  right: 20px;
  position: absolute;
  top: 20px;
  z-index: 99;
}

.SingleMovieTrailerBack span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.SingleMovieTrailerBack span:after {
  content: '\27F5';
  color: $trailer-back-button-color;
  position: absolute;
  opacity: 0;
  top: -5px;
  left: -15px;
  transition: 0.5s;
}

.SingleMovieTrailerBack:hover span {
  padding-left: 35px;
}

.SingleMovieTrailerBack:hover span:after {
  opacity: 1;
  left: 0;
}

.SingleMovieCard {
  display: flex !important;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 520px;
  margin: 80px 0;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);

  .SingleInfoSection {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 520px;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    .SingleMovieHeader {
      position: relative;
      padding: 25px;
      height: 40%;
      h1 {
        color: black;
        font-weight: 400;
        float: left;
      }
      h4 {
        color: $movie-info-popular;
        font-weight: 400;
        float: left;
      }

      .SingleMoviePoster {
        position: relative;
        float: left;
        margin-right: 20px;
        height: 120px;
        box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
      }
    }
    .SingleMovieDesc {
      padding-left: 25px;
      height: 50%;
      text-align: left;
      .text {
        margin-top: 20px;
        color: $movie-desc-color;
      }
    }
    .SingleMovieSocial {
      ul {
        list-style: none;
        padding: 0;
        li {
          display: inline-block;
          margin: 0 10px;
          cursor: pointer;

          svg {
            height: 25px;
            width: 25px;
          }
        }
      }
    }
  }
  .SingleMovieBlurBack {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    max-height: 520px;
    right: 0;
    border-radius: 11px;
  }
}

@media screen and (min-width: 768px) {
  .SingleMovieHeader {
    width: 65%;
  }

  .SingleMovieDesc {
    width: 50%;
  }

  .SingleInfoSection {
    background: linear-gradient(
      to right,
      $info-section-back 50%,
      transparent 100%
    );
  }

  .SingleMovieBlurBack {
    width: 80%;
    background-position: -100% 10% !important;
  }
}

@media screen and (min-width: 769px) {
  .SingleMovieCard {
    .SingleInfoSection {
      .SingleMovieSocial {
        position: absolute;
        bottom: 10px;
        left: 150px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .SingleMovieCard {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: 500px;
  }

  .SingleMovieBlurBack {
    width: 100%;
    background-position: 50% 50% !important;
  }

  .SingleMovieHeader {
    width: 100%;
    margin-top: 55px;
  }

  .SingleMovieInfo {
    h4,
    a,
    button {
      font-size: 9px;
    }
  }

  .SingleMovieDesc {
    width: 100%;
    margin-top: -70px;
    .text {
      margin-top: 0;
      font-size: 10px;
    }
  }

  .SingleInfoSection {
    background: linear-gradient(
      to top,
      $info-section-back 50%,
      transparent 100%
    );
    display: inline-grid;
  }

  .SingleMovieCard {
    .SingleInfoSection {
      .SingleMovieSocial {
        position: absolute;
        bottom: 10px;
        right: 0;
      }
    }
  }
}
