$main-background: #09283a;
$header-color: #3e8e87;
$white: #fff;
$popularity-low: #ca0b00;
$popularity-middle: #f89806;
$popularity-high: #4da516;
$info-section-back: #e5e6e6;
$movie-info-popular: #555;
$movie-desc-color: #545454;
$trailer-button-color: #069;
$trailer-back-button-color: #0281a9;
$menu-bar-hover: #16d8c7;
$menu-background: #373a47;
$menu-items-color: #d1d1d1;
$menu-item-list: #b8b7ad;
