.MainPage {
  text-align: center;
  padding: 0px 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 800px) {
  .MainPage {
    text-align: center;
    padding: 0px 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
