@import '../../styles/colors';

.SideMenu {
  margin-left: -150px;
}

@media only screen and (max-width: 768px) {
  .SideMenu {
    margin-left: -15px;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: $menu-bar-hover;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $popularity-low;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: $menu-background;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: $menu-background;
}

/* Wrapper for item list */
.bm-item-list {
  color: $menu-item-list;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: $menu-items-color;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
  outline: none;
  font-size: 25px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item:hover {
  color: $white;
}
